<%if @movie.errors.full_messages%>
  <ul>
    <%@movie.errors.full_messages.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
<%end%>
    
<%=form_for @movie, :html => {:multipart => true} do |f|%>
  <div class='form-group'> 
    <div>
      <%=f.label 'title'%><br>
      <%=f.text_field 'title'%>
    </div>
    <div>
      <%=f.label 'director'%><br>
      <%=f.text_field 'director'%> </div>
    <div>
      <%=f.label 'runtime_in_minutes'%><br>
      <%=f.number_field 'runtime_in_minutes'%>
    </div>
    <div>
      <%=f.label 'description'%><br>
      <%=f.text_area 'description'%>
    </div>
    <div>
      <%=f.label :image%>
      <%=f.file_field :image%> 
    </div>
    <div>
      <%=f.label 'release_date'%>
      <%=f.date_field 'release_date'%>
    </div>
    <div>
      <%=button_tag(type: 'submit', class: 'btn btn-primary') do%>
          <i class='icon-ok icon-white'></i>
          Submit
      <%end%>
    </div>
  </div>
<%end%>
