<%@movies.each do |movie|%>
  <div>
    <h3>
      <a href=<%=movie_path(movie.id)%>><%=movie.title%></a>
    </h3>
    <p><small>Directed by <%=movie.director%></small></p>
  <%if movie.review_average%>
    <%=movie.review_average%>/10
  <%else%>
    <%="No reviews yet"%>
  <%end%>
    <hr>
  </div>
<%end%>
